/* styling format followed sample structure presented in class*/

/* colors from colorbrewer2.org
main banner background: #de2d26
nav bar bottom border: #bdbdbd
*/
html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background-color: #ffc0cb;
    overflow-x: hidden;
}

body {
    background-color: #ffc0cb;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    text-align: center;
    padding-top: 1em;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}

caption {
    caption-side: bottom;
    margin-top: 0.5em;
    text-align: center;
}

p {
    font-size: 100%;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    text-align: justify;
}

.image_box {
    border: none;
    display: block;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.image_box > img {
    display: block;
    margin: auto;
}

#nav {
    position: fixed;
    background-color: #ffffff;
    color: #cc0000;
    border-bottom: solid 2px #bdbdbd;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    top: 0px;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    z-index: 1;
}

.nav_span {
    margin-right: 2em;
}

#top2 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0.5em;
}

#top2 > img {
    max-width: 100%
}

#container {
    margin: 4em;
    max-width: 1200px;
}

#content {
    background-color: #ffffff;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

.caption {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.kplcolor {
    color:#de2d26;
    font: italic;
}

@media screen and (min-width: 768px ) and (max-width: 1200px) {
    #top2 > img {
        max-width: 1200px;
        margin-top: 4em;
        max-width: 100%;
    }
    .image_box {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (min-width: 480px ) and (max-width: 768px) {

    .nav_span {
        font-size: 1em;
        margin-right: 0.5em;
    }

    #top2 > img {
        max-width: 768px;
        margin-top: 4em;
        max-width: 100%;
    }

    #top2 {
        text-align: center;
        margin-top: 4em;
    }

    #container{
        margin:auto;
        max-width: 95%;
    }

    h1 {
        text-align: center;
        font-size: 2em;
    }

    .image_box{
        display: none;
    }

    .caption{
        display: none;
    }
}


@media screen and (max-width: 480px) {

    #top2 > img {
        margin-top: 4em;
        max-width: 100%;
    }

    .image_box{
        display:none;
    }

    #global_nav > span:first-child {
        margin-left: 0em;
    }

    .nav_span {
        font-size: 1em;
        margin-right: 0.2em;
    }
    
    #top2 {
        display: block;
        margin: auto;
        padding-top: 6em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }
}

